<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<nav id="breadcrumb" aria-label="Breadcrumb">
    <ul>
        <li>
            <a href="/">Home</a> <span aria-hidden="true">&gt;</span>
        </li>
        <li>
            <a href="#" aria-current="page"><%= title %></a>
        </li>
    </ul>
</nav>
<h1><%= title %></h1>