<%- include('includes/header') -%>
<p>Let's see how VoiceOver responds to different progress bar implementations</p>
<nav>
    <ul>
        <li><a href="/simple-progress">A simple progress bar</a></li>
        <li><a href="/simple-progress-with-focus-management">A simple progress bar with focus management</a></li>
        <li><a href="/simple-progress-with-live-region">A simple progress bar with live region</a></li>
    </ul>
</nav>
<%- include('includes/footer') -%>