<%- include('includes/header') -%>
<p>Let's see how VoiceOver responds to different progress bar implementations</p>
<nav>
    <ul>
        <li><a href="/simple-progress">A simple progress bar</a></li>
    </ul>
</nav>
<%- include('includes/footer') -%>