<%- include('includes/header') -%>
<p>Let's see how VoiceOver responds to different progress bar implementations</p>
<p><strong>⚠️ Beware!</strong> The code here has been thrown together quickly to explore some techniques. Nothing is being presented as the 'right way' to solve this problem: these are just a few things to think about / or try. the key thing is identifying a good user experience for users of assistive technologies and testing.</p>
<nav>
    <ul>
        <li><a href="/simple-progress">A simple progress bar</a></li>
        <li><a href="/simple-progress-with-focus-management">A simple progress bar with focus management</a></li>
        <li><a href="/simple-progress-with-live-region">A simple progress bar with live region</a></li>
        <li><a href="/simple-progress-with-realtime-updates">A simple progress bar with realtime updates</a></li>
        <li><a href="/multiple-progress-with-too-much-information">Multiple progress bars with too much information</a></li>
        <li><a href="/multiple-progress-with-updates">Multiple progress bars with updates</a></li>
    </ul>
</nav>
<%- include('includes/footer') -%>