<%- include('includes/header') -%>
<p>This example uses the HTML progress element only.</p>
<h2>Example</h2>
<p>This is a simple cooking programme.
    <button>Start cooking</button>
<p>
    <label for="carrots">Carrot cooking progress</label>
    <progress id="carrots" max="100" value="0">0%</progress>
</p>

<div id="output"></div>
<%- include('includes/footer') -%>
