body {
  padding: 5em;
  font: 1.2em "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #000;
}

button {
  padding: 1em;
}

#complete > div {
  padding: 1em;
  background-color: rgb(200, 255, 210);
  border: 1px solid rgb(100, 155, 110);
  display: inline-block;
}

#breadcrumb ul {
  padding: 0;
}

#breadcrumb li {
  display: inline;
  list-style-type: none;
}

#breadcrumb li:first-child span {
  font-size: smaller;
  color: #CCC;
}

/* Hacky way of making the approximate status only visible to screen readers.
Need to discuss a better way of doing this! */
#approximate-status {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.sr_only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
